.presentation-pane {
	width: 640px;
	height: 480px;
	outline: 1px solid #777;
	overflow: hidden;
	position: relative;
	background-color: #333;
}

.presentation-pane-fullscreen {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	z-index: 100;
	top: 0px;
	left: 0px;
}

.presentation-nav {
	width: 100%;
	height: 100%;
	z-index: 20;
	position: absolute;
}

div.presentation-nav-back, 
div.presentation-nav-forw {
	height: 100%;
	width:  40%;
	top: 0px;
	position: absolute;
}

div.presentation-nav-back {
	left: 0px;
	cursor: w-resize;
}

div.presentation-nav-forw {
	right: 0px;
	cursor: e-resize;
}

.presentation-nav-menu {
	position: absolute;
	bottom: 0px;
	margin: 0px auto;
	left: 50%;
}

.presentation-nav-menu-sub {
	position: relative;
	left: -50%;
	margin: 5px;
	padding: 5px;
	background-color: rgba(238, 238, 238, 0.65);
	border-radius: 3px;
}

.presentation-nav-current {
	width: 20px;
}

.presentation-view {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
}

.presentation-slide {
	left: -2000px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.presentation-slide-active {
	left: 0;
}

.presentation-slide-active img {
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
}

.scale-by-width img {
	width: 100%;
}

.scale-by-height img {
	height: 100%;
}

.presentation-error {
	position: absolute;
	bottom: 50px;
	left: 50%;
	display: none;
	padding: 2px;
	z-index: 21;
}

.presentation-error-text {
	position: relative;
	left: -50%;
	background-color: rgba(204, 0, 0, 0.6);
	color: #fff;
	border-radius: 2px;
}