.presentation-pane {
	width: 640px;
	height: 480px;
	outline: 1px solid #777;
	overflow: hidden;
	position: relative;
}

.presentation-nav {
	width: 100%;
	height: 100%;
	z-index: 20;
	position: absolute;
}

div.presentation-nav-back, 
div.presentation-nav-forw {
	height: 100%;
	width:  40%;
	top: 0px;
}

div.presentation-nav-back {
	left: 0px;
	cursor: w-resize;
}

div.presentation-nav-forw {
	right: 0px;
	cursor: e-resize;
}

.presentation-nav-menu {
	position: absolute;
	bottom: 0px;
	margin: 0px auto;
	left: 50%;
	margin-left: -25%;
}

.presentation-nav-current {
	width: 20px;
}

.presentation-view {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
}

.presentation-slide {
	left: -2000px;
	position: absolute;
}

.presentation-slide-active {
	left: 0px;
}